
// .subMenu {
// 	position: absolute;
// 	display: none;
// }

// .userProfile:hover {
// 	&:hover {
// 		.subMenu {
// 			display: block;
// 		}
// 	}
// }

.dropDownMenu {
	background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right,#D3D3D3,#F5F5F5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right,#D3D3D3,#F5F5F5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}