 .popup-content {
	 background: rgb(194, 104, 104);
	 color: #000;
	 width: 80%;
 }
 
 
 /* ----------------- Animations ---------------- */

 .reactionBtn:hover {
	 animation: btnUpAnim 100ms ease-out forwards alternate;
	 font-weight: bold;
 }

 @keyframes btnUpAnim {
	 0% {
		 transform: translateY(0);
	 }

	 100% {
		 transform: translateY(-8%);
	 }
 }