@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply inline-block px-2 py-2 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold 
	}

	

	.btn-secondary {
		@apply hover:bg-gray-200 focus:ring-gray-300 focus:ring-opacity-50
		active:bg-gray-400 text-gray-800
	}
}

.font-face-gm {
	font-family: "OtomanopeeOne";
 }

 .font-face-varela {
	font-family: "VarelaRound";
 }

 .borderSpace {
	 border-collapse: separate;
	 border-bottom: 2px solid yellow;
	 border-spacing: 10px;
 }