@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply inline-block px-2 py-2 rounded-lg focus:outline-none focus:ring focus:ring-offset-2 uppercase tracking-wider font-semibold 
	}

	

	.btn-secondary {
		@apply hover:bg-gray-200 focus:ring-gray-300 focus:ring-opacity-50
		active:bg-gray-400 text-gray-800
	}
}

.font-face-gm {
	font-family: "OtomanopeeOne";
 }

 .font-face-varela {
	font-family: "VarelaRound";
 }

 .borderSpace {
	 border-collapse: separate;
	 border-bottom: 2px solid yellow;
	 border-spacing: 10px;
 }

 /* ----------------- Animations ---------------- */

 .dailyQuote {
	 animation: cardViewAnimOut 500ms ease-out forwards alternate;
 }

 .dailyQuote:hover {
	 animation: cardViewAnimIn 500ms ease-out forwards alternate;
	 color: white;
 }
 
 .dailyQuote:hover .titleText {
	 color: white;
 }

 .dailyQuote:hover .expressionText {
	 color: white;
 }

 /* .titleText:hover {
	color: white;
 } */

 @keyframes cardViewAnimIn {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(5%);
		background-color: rgba(255, 165, 0);
	}
}

 @keyframes cardViewAnimOut {
	 0% {
		transform: translateY(5%);
		background-color: rgba(255, 165, 0);
	 }

	 100% {
		transform: translateY(0);
	 }
 }

 /* @keyframes textColorAnim {
	 0% {
		 color: rgba(255, 165, 0);
	 }

	 100% {
		 color: white;
	 }
 } */